body {
	margin: 0;
	font-family: Nunito Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

body * {
	box-sizing: border-box;
}

.logo {
	font-size: 11px;
	line-height: 15px;
	color: #E3B873;
	text-transform: uppercase;
}

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	
	
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;

	color: white;
	
	cursor: pointer;
}

.header {
	background-color: #131313;
}


.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px 100px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content a {
	color: #E3B873;
}

.header-content.wrapper {
	padding: 10px 100px;
}

.header-navigation {
	list-style: none;
	display: flex;
	
}

.header-navigation_item {
	margin-right: 47px;
	text-decoration: none;
}

.header-navigation_item a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}





.title {
	margin: 0;
	font-family: Yeseva One;
	font-weight: 100;
	
	text-transform: uppercase;
}


h1 {
	font-size: 40px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 18px;
}



.yellow-span {
	color: #E3B873;
}


.submit-button {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 1px #FFFFFF inset;
	box-sizing: border-box;
}

#section-1 {
	background-image: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%), url(../images/underheader-image.jpg);
	background-size: cover;
	min-height: 80vh;
}
#section-1 > .wrapper > * {
	max-width: 50%;
}
#section-1 > .wrapper > p {
	padding: 15px 0;
}
#section-1 > .wrapper .submit-button {
	margin-left: 15px;
}


.mobile-image-div {
	display: none;
}

.dark-background {
	background: #131313;
	color: white;
}

.light-background {
	background: #FFFFFF;
	color: black;
}


.horizontal-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.horizontal-list li {
	display: inline-block;
	padding: 5px 0px;
	margin: 0px 20px;
	
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.3);
}

.horizontal-list li.yellow-span {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}

#section-2 .horizontal-list {
	padding-left: calc(45% - 20px);
}

#section-2 > div > div > div:nth-child(1) > ul.rc {
	list-style: none;
	padding: 20px 0;
}

#section-2 > div > div > div:nth-child(1) > ul.rc >li {
	flex-basis: 50%;
	padding: 20px 0;
}



#section-2 div.rw {
	padding-top: 20px;
}


#section-2 div.rw > div:nth-child(1) {
	padding-right: 50px;
}


#section-2 ul.rw {
	list-style: none;
	padding-left: 0;
}

#section-2 ul.rw > li {
	padding: 0 10px;
	font-size: 20px;
}



.active {
	color: #FFFFFF;
}

.inactive {
	color: rgba(255, 255, 255, 0.3);
}


#section-2 {
	padding-bottom: 370px;
}


#section-3 {
	margin-top: -370px;
}


.video-ref {
	background-image: url(../images/play-button-image.png), linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: inline-block;
}


#section-3 h2 {
	text-align: center;
	color: white;
}


#section-3 > div > div:nth-child(2) > p {
	padding: 0 200px;
}

#section-3 .video-div {
	text-align: center;
	display: inline-block;
	position: relative;
}


.decor-image {
	text-align: center;
	padding: 50px 0;
}
.decor-image > span {
	position: relative;
}
.decor-image > span::before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 32px;
	background-color: #E3B873;
	margin: 0;
	position: absolute;
	top: 0;
	left: -40px;
}

.decor-image > span::after {
	content: '';
	display: inline-block;
	height: 2px;
	width: 32px;
	background-color: #E3B873;
	margin:0;
	position: absolute;
	top: 0;
	right: -40px;
}


#section-3 > .wrapper > div {
	margin: 0 auto;
	text-align: center;
	padding: 25px 0 40px 0;
}





#section-3 > div > div:nth-child(2)::before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 55px;
	background-color: #E3B873;

}


#section-3 > div > div:nth-child(2) > p {
	font-size: 18px;
	text-align: center;
	padding: 0px 280px; /*выглядит подозрительно*/
}



#section-3 form .label-input, 
#section-3 form .input {
	margin: 0 20px;
}

.label-input {
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
	display: block;
	text-align: left;
}

.input {
	font-size: 14px;
	line-height: 23px;
	color: #363636;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	display: block;
}

.checkbox > input {
	border-radius: 1px;
}

/**/
.checkbox {
	position:relative;
	padding-left:25px;
	display: inline-block;
	margin: 40px 0px;
}

.checkbox input[type=checkbox] {
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
}
.checkbox label:after {
	content:'\160;';
	display:block;
	height:16px;
	width:16px;
	border: 1px solid #363636;
	border-radius: 2px;
	position:absolute;
	top:0px;
	left:-5px;
	color: white;
	padding: 0 0 4px 5px;
	font-size: 12px;
}
.checkbox input[type=checkbox]:checked + label:after {
	content:'✔';
	border:2px solid #E3B873;
	background: #E3B873;
}


#section-3 .button {
	font-style: normal;
}

#section-3 form {
	text-align: center;
}

#section-3 form > div {
	flex-basis: 100%;
}



#section-4 h2 {
	text-align: center;
}


.text-card {
	background: white;
	position: relative;
	display: inline-block;
	text-align: left;
}

.text-card h4 {
	text-transform: none;
	margin: 25px 0px 0px 25px;;
}

.text-card ul {
	font-size: 13px;
	line-height: 27px;
	color: #959595;
	padding-right: 100px;
}


.parameters {
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	
	font-family: Yeseva One;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	color: #FFFFFF;
	
	display: inline-block;
	padding: 17px 20px;
}



#section-4 .rw > div {
	flex-basis: calc(100% / 3 - 30px);
	margin: 0px 15px;
	text-align: center;
}

#section-4 .text-card {
	margin-top: -200px;
}


#section-5 {
	padding-bottom: 200px;
}
*

#section-5 .wrapper {
	background-image: url(../images/city-image.png);
	background-size: auto 90%;
	background-repeat: no-repeat;
}

#section-5 .rw > div:nth-child(1) {
	
	padding-left: 80px;
	padding-right: 80px;
}




.step-list {
	list-style-type: none;
}


.step-list > li {
	margin-bottom: 125px;
	padding-left: 70px; 
}

.step-list > li:before {
	content: attr(data-list);
	
	font-family: Yeseva One;
	font-size: 18px;
	line-height: 25px;
	text-align: center;

	color: #FFFFFF;
	
	background: #E3B873;
	border: 8px solid #FFFFFF;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 50%;
	
	padding: 10px;
	
	display: inline-block;
	margin-left: -70px;
	margin-top: -20px;
	height: 25px;
	width: 25px;
	float: left;
}



#section-5 form {
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	font-size: 14px;
	line-height: 23px;

	color: #FFFFFF;
	
	padding: 50px;
}

#section-5 .label-input {
	color: rgba(255, 255, 255, 0.5);
}

#section-5 .input {
	width: 100%;
	background-color: transparent;
	color: #FFFFFF;
}
#section-5 .input::placeholder {
	color: #FFFFFF;
}

#section-5 form > p {
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	padding: 0px 70px;
}

#section-5 form > div > div {
	margin-top: 50px;
}

#section-5 .checkbox {
	margin-left: 10px;
}

#section-5 .checkbox label:after {
	border: 1px solid white;
	background-color: white;	
}


#section-5 .checkbox input[type=checkbox]:checked + label:after {
	content:'✔';
	border:2px solid #E3B873;
	background: #E3B873;
}


#section-5 .button {
	font-style: normal;
	margin-left: 200px;
}



#section-5 .sticker-div {
	padding: 10px 10% 0px 65%;
}

#section-5 .sticker-div > p {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	display: inline-block;
}


#section-5 .sticker-div > p::before {
	content: '';
	display: inline-block;
	color: #FFFFFF;
	
	background-color: #E3B873;
	background-image: url(../images/pig-image.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	
	padding: 10px;
	
	display: inline-block;
	margin-left: -80px;
	margin-top: -10px;
	height: 50px;
	width: 50px;
	float: left;
}



#section-6 h2 {
	color: #E3B873;
}

#section-6 ul {
	list-style-type: none;
	padding-left: 0px;
}


#section-6 ul > li {
	font-size: 20px;
	line-height: 50px;
}


.underlined {
	text-decoration: underline;
}


#section-6 .gallery-div img {
	margin: 15px 0;
	width: 100%;
}


.gallery-div {
	padding: 0 0 0 30px;
	flex-basis: 30%;
}


#section-6 .rw > div:nth-child(1) {
	flex-basis: 40%;
	padding: 40px 0;
}

#section-6 .rw > div:nth-child(2) {
	margin-top: -110px;
	margin-bottom: -110px;
}

#section-6 .rw > div:nth-child(3) {
	margin-top: -170px;
	margin-bottom: -40px;
}


.rounded {
	border-radius: 50%;
}

#section-7 {
	padding-bottom: 300px;
	padding-top: 50px;
	background-image: url(../images/section-7-background-image.png);
	background-position: left bottom;
	background-repeat: repeat-x;
}


#section-7 h2 {
	text-align: center;
}

#section-7 .wrapper > p {
	text-align: center;
	padding: 0 40% 20px 40%;
}


#section-7 blockquote {
	margin: 0;
	
}



#section-7 blockquote > p {
	font-size: 13px;
	line-height: 180%;
	color: #959595;
}

#section-7 .rw {
	justify-content: space-between;
}

#section-7 .rw .text-card {
	flex-basis: calc(100% / 3 - 20px);
	padding: 10px 40px 10px 20px;
}


#section-7 .text-card > img {
	float: left;
}



#section-7 .text-card > h4 {
	height: 75px;
	margin: 0;
	align-items: center;
	align-content: center;
	padding-left: 20px;
}




#section-7 .parameters > img {
	float: left;
	margin-right: 5px;
	margin-top: -5px;
}


.footer {
	background-image: linear-gradient(0deg, #181818 0px, #181818 130px, transparent 130px), linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%), url(../images/footer-background-image.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: cover;
}



.footer .dark-background {
	margin-top: -300px;
	background-color: transparent;
	
}



.footer form {
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	font-size: 14px;
	line-height: 23px;

	color: #FFFFFF;
	
	padding: 50px;
	width: 880px;
	height: 450px;
	
	display: inline-block;		
}

.footer form h2 {
	padding-bottom: 50px;
}


.footer form .rc > div:nth-child(1) {
	flex-basis: 50%;
}


.footer form .rc > div:nth-child(2) {
	flex-basis: 50%;
}

.footer form .rc > div:nth-child(3) {
	flex-basis: 100%;
	padding: 30px 0;
}

.footer form .rc > div:nth-child(5) {
	flex-basis: 100%;
}


.footer form .rc > p {
	flex-basis: auto;
}

.footer .label-input {
	color: rgba(255, 255, 255, 0.5);
}

.footer .input {
	width: 100%;
	background-color: transparent;
	color: #FFFFFF;
}
.footer .input::placeholder {
	color: #FFFFFF;
}


.footer .dark-background {
	text-align: center;
}


.footer .checkbox {
	margin-left: 10px;
}

.footer .checkbox label:after {
	border: 1px solid white;
	background-color: white;	
}


.footer .checkbox input[type=checkbox]:checked + label:after {
	content:'✔';
	border:2px solid #E3B873;
	background: #E3B873;
}


.footer form .button {
	font-style: normal;
}


.addr-ref {
	list-style-type: none;
	text-align: center;
}

.addr-ref li {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 10px;
}

.addr-ref li > a {
	display: inline-block;
	background-color: #E3B873;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	padding-top: 7px;
	text-align: center;
}


.footer address {
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px; 
}


.footer .map {
	background-image: url(../images/map-image.png);
	background-size: cover;
	height: 500px;
	width: 1000px;
	margin: 50px auto 100px auto;
}


.footer .header-content {
	background-color: #181818;
}



.rw {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:  stretch;
}
.rc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:  stretch;
}
.cc {
	justify-content: center;
	align-content: center;
	align-items:  center;
}


@font-face {
font-family: "Nunito Sans";  
src: url("../fonts/NunitoSans-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}


@font-face {
font-family: "Yeseva One";  
src: url("../fonts/YesevaOne-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}