body {
	margin: 0;
	font-family: Nunito Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

body * {
	box-sizing: border-box;
}

.logo {
	font-size: 11px;
	line-height: 15px;
	color: #E3B873;
	text-transform: uppercase;
}

.button {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 0;
	padding: 13px 33px;
	
	
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;

	color: white;
}

.header {
	background-color: #131313;
	
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px 100px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-content.wrapper {
	padding: 10px 100px;
}

.header-navigation {
	list-style: none;
	display: flex;
	
}

.header-navigation_item {
	margin-right: 47px;
	text-decoration: none;
}

.header-navigation_item a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}





.title {
	margin: 0;
	font-family: Yeseva One;
	font-weight: 100;
	
	text-transform: uppercase;
}


h1 {
	font-size: 40px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 18px;
}



.yellow-span {
	color: #E3B873;
}


.submit-button {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 1px #FFFFFF inset;
	box-sizing: border-box;
}

#section-1 {
	background-image: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%), url(../images/underheader-image.jpg);
	background-size: cover;
	min-height: 80vh;
}
#section-1 > .wrapper > * {
	max-width: 50%;
}
#section-1 > .wrapper > p {
	padding: 15px 0;
}
#section-1 > .wrapper .submit-button {
	margin-left: 15px;
}


.dark-background {
	background: #131313;
	color: white;
}

.light-background {
	background: #FFFFFF;
	color: black;
}


.horizontal-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.horizontal-list li {
	display: inline-block;
	padding: 5px 0px;
	margin: 0px 20px;
	
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.3);
}

.horizontal-list li.yellow-span {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}

#section-2 .horizontal-list {
	padding-left: calc(45% - 20px);
}

#section-2 > div > div > div:nth-child(1) > ul.rc {
	list-style: none;
	padding: 20px 0;
}

#section-2 > div > div > div:nth-child(1) > ul.rc >li {
	flex-basis: 50%;
	padding: 20px 0;
}



#section-2 div.rw {
	padding-top: 20px;
}


#section-2 div.rw > div:nth-child(1) {
	padding-right: 50px;
}


#section-2 ul.rw {
	list-style: none;
	padding-left: 0;
}

#section-2 ul.rw > li {
	padding: 0 10px;
	font-size: 20px;
}



.active {
	color: #FFFFFF;
}

.inactive {
	color: rgba(255, 255, 255, 0.3);
}


#section-2 {
	padding-bottom: 370px;
}


#section-3 {
	margin-top: -370px;
}


.video-ref {
	background-image: url(../images/play-button-image.png), linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.7) 100%);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: inline-block;
}


#section-3 h2 {
	text-align: center;
	color: white;
}


#section-3 > div > div:nth-child(2) > p {
	padding: 0 200px;
}

#section-3 .video-div {
	text-align: center;
	display: inline-block;
	position: relative;
}


.decor-image {
	text-align: center;
	padding: 50px 0;
}
.decor-image > span {
	position: relative;
}
.decor-image > span::before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 32px;
	background-color: #E3B873;
	margin: 0;
	position: absolute;
	top: 0;
	left: -40px;
}

.decor-image > span::after {
	content: '';
	display: inline-block;
	height: 2px;
	width: 32px;
	background-color: #E3B873;
	margin:0;
	position: absolute;
	top: 0;
	right: -40px;
}


#section-3 > .wrapper > div {
	margin: 0 auto;
	text-align: center;
	padding: 25px 0 40px 0;
}





#section-3 > div > div:nth-child(2)::before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 55px;
	background-color: #E3B873;

}


#section-3 > div > div:nth-child(2) > p {
	font-size: 18px;
	text-align: center;
	padding: 0px 280px; /*выглядит подозрительно*/
}



#section-3 form .label-input, .input {
	margin: 0 20px;
}

.label-input {
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
	display: block;
	text-align: left;
}

.input {
	font-size: 14px;
	line-height: 23px;
	color: #363636;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	display: block;
}

.checkbox > input {
	border-radius: 1px;
}

/**/
.checkbox {
	position:relative;
	padding-left:25px;
	display: inline-block;
	margin: 40px 0px;
}

.checkbox input[type=checkbox] {
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
}
.checkbox label:after {
	content:'\160;';
	display:block;
	height:16px;
	width:16px;
	border: 1px solid #363636;
	border-radius: 2px;
	position:absolute;
	top:0px;
	left:-5px;
	color: white;
	padding: 0 0 4px 5px;
	font-size: 12px;
}
.checkbox input[type=checkbox]:checked + label:after {
	content:'✔';
	border:2px solid #E3B873;
	background: #E3B873;
}


#section-3 .button {
	font-style: normal;
}

#section-3 form {
	text-align: center;
}

#section-3 form > div {
	flex-basis: 100%;
}



#section-4 h2 {
	text-align: center;
}


.text-card {
	background: white;
	position: relative;
	display: inline-block;
	text-align: left;
}

.text-card h4 {
	text-transform: none;
	margin: 25px 0px 0px 25px;;
}

.text-card ul {
	font-size: 13px;
	line-height: 27px;
	color: #959595;
	padding-right: 100px;
}


.parameters {
	background: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	
	font-family: Yeseva One;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;

	color: #FFFFFF;
	
	display: inline-block;
	padding: 17px 20px;
}



#section-4 .rw > div {
	flex-basis: calc(100% / 3 - 30px);
	margin: 0px 15px;
	text-align: center;
}

#section-4 .text-card {
	margin-top: -200px;
}


.rw {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:  stretch;
}
.rc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items:  stretch;
}
.cc {
	justify-content: center;
	align-content: center;
	align-items:  center;
}


@font-face {
font-family: "Nunito Sans";  
src: url("../fonts/NunitoSans-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}


@font-face {
font-family: "Yeseva One";  
src: url("../fonts/YesevaOne-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}